<h1>Caesar Cipher</h1>

<form action="/" method="POST">
  <p>
    Phrase to encrypt:
  </p>
  <input type="text" name=cipher[original]><br/>
  <p>
    Cipher shift value:
  </p>
  <input type="number" min="0" max="25" name=cipher[shift]><br/>
  <input type="submit" value="Convert">
</form>

